soap-laravel/app/Http/Controllers/uetdsesya.xml

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uetds.unetws.udhb.gov.tr/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UdhbUetdsEsyaWsService" targetNamespace="http://uetds.unetws.udhb.gov.tr/">
<types>
<xsd:schema>
<xsd:import namespace="http://uetds.unetws.udhb.gov.tr/" schemaLocation="https://servis.turkiye.gov.tr/ssg/wsdl/UdhbUetdsEsyaWsService?serviceoid=21a31312f198e5f142c0a14c20152e1a&amp;servdocoid=d76c905e390abd3f75627c51e92accf0"></xsd:import>
</xsd:schema>
</types>
<message name="meslekiYeterlilikSorgula">
<part element="tns:meslekiYeterlilikSorgula" name="parameters"></part>
</message>
<message name="meslekiYeterlilikSorgulaResponse">
<part element="tns:meslekiYeterlilikSorgulaResponse" name="parameters"></part>
</message>
<message name="aracMuayeneSorgula">
<part element="tns:aracMuayeneSorgula" name="parameters"></part>
</message>
<message name="aracMuayeneSorgulaResponse">
<part element="tns:aracMuayeneSorgulaResponse" name="parameters"></part>
</message>
<message name="ipTanimla">
<part element="tns:ipTanimla" name="parameters"></part>
</message>
<message name="ipTanimlaResponse">
<part element="tns:ipTanimlaResponse" name="parameters"></part>
</message>
<message name="ipListele">
<part element="tns:ipListele" name="parameters"></part>
</message>
<message name="ipListeleResponse">
<part element="tns:ipListeleResponse" name="parameters"></part>
</message>
<message name="yeniYukKaydiBildir">
<part element="tns:yeniYukKaydiBildir" name="parameters"></part>
</message>
<message name="yeniYukKaydiBildirResponse">
<part element="tns:yeniYukKaydiBildirResponse" name="parameters"></part>
</message>
<message name="paramTehlikeliMaddeTasimaSekli">
<part element="tns:paramTehlikeliMaddeTasimaSekli" name="parameters"></part>
</message>
<message name="paramTehlikeliMaddeTasimaSekliResponse">
<part element="tns:paramTehlikeliMaddeTasimaSekliResponse" name="parameters"></part>
</message>
<message name="paramYukTuru">
<part element="tns:paramYukTuru" name="parameters"></part>
</message>
<message name="paramYukTuruResponse">
<part element="tns:paramYukTuruResponse" name="parameters"></part>
</message>
<message name="paramYukBirimi">
<part element="tns:paramYukBirimi" name="parameters"></part>
</message>
<message name="paramYukBirimiResponse">
<part element="tns:paramYukBirimiResponse" name="parameters"></part>
</message>
<message name="iptalTurleri">
<part element="tns:iptalTurleri" name="parameters"></part>
</message>
<message name="iptalTurleriResponse">
<part element="tns:iptalTurleriResponse" name="parameters"></part>
</message>
<message name="yukBildirimiListesi">
<part element="tns:yukBildirimiListesi" name="parameters"></part>
</message>
<message name="yukBildirimiListesiResponse">
<part element="tns:yukBildirimiListesiResponse" name="parameters"></part>
</message>
<message name="yeniYukKaydiBildirV2">
<part element="tns:yeniYukKaydiBildirV2" name="parameters"></part>
</message>
<message name="yeniYukKaydiBildirV2Response">
<part element="tns:yeniYukKaydiBildirV2Response" name="parameters"></part>
</message>
<message name="yukBildirimiGuncelle">
<part element="tns:yukBildirimiGuncelle" name="parameters"></part>
</message>
<message name="yukBildirimiGuncelleResponse">
<part element="tns:yukBildirimiGuncelleResponse" name="parameters"></part>
</message>
<message name="yukBildirimiGuncelleV2">
<part element="tns:yukBildirimiGuncelleV2" name="parameters"></part>
</message>
<message name="yukBildirimiGuncelleV2Response">
<part element="tns:yukBildirimiGuncelleV2Response" name="parameters"></part>
</message>
<message name="seferGuncelle">
<part element="tns:seferGuncelle" name="parameters"></part>
</message>
<message name="seferGuncelleResponse">
<part element="tns:seferGuncelleResponse" name="parameters"></part>
</message>
<message name="seferIptalEt">
<part element="tns:seferIptalEt" name="parameters"></part>
</message>
<message name="seferIptalEtResponse">
<part element="tns:seferIptalEtResponse" name="parameters"></part>
</message>
<message name="seferAktifEt">
<part element="tns:seferAktifEt" name="parameters"></part>
</message>
<message name="seferAktifEtResponse">
<part element="tns:seferAktifEtResponse" name="parameters"></part>
</message>
<message name="sefereYukEkle">
<part element="tns:sefereYukEkle" name="parameters"></part>
</message>
<message name="sefereYukEkleResponse">
<part element="tns:sefereYukEkleResponse" name="parameters"></part>
</message>
<message name="yukBildirimiIptalEt">
<part element="tns:yukBildirimiIptalEt" name="parameters"></part>
</message>
<message name="yukBildirimiIptalEtResponse">
<part element="tns:yukBildirimiIptalEtResponse" name="parameters"></part>
</message>
<message name="yukIptalEtV2">
<part element="tns:yukIptalEtV2" name="parameters"></part>
</message>
<message name="yukIptalEtV2Response">
<part element="tns:yukIptalEtV2Response" name="parameters"></part>
</message>
<message name="yukBildirimiDetayi">
<part element="tns:yukBildirimiDetayi" name="parameters"></part>
</message>
<message name="yukBildirimiDetayiResponse">
<part element="tns:yukBildirimiDetayiResponse" name="parameters"></part>
</message>
<message name="yukBildirimiDetayiV2">
<part element="tns:yukBildirimiDetayiV2" name="parameters"></part>
</message>
<message name="yukBildirimiDetayiV2Response">
<part element="tns:yukBildirimiDetayiV2Response" name="parameters"></part>
</message>
<message name="yukBildirimRaporu">
<part element="tns:yukBildirimRaporu" name="parameters"></part>
</message>
<message name="yukBildirimRaporuResponse">
<part element="tns:yukBildirimRaporuResponse" name="parameters"></part>
</message>
<message name="seferBildirimRaporu">
<part element="tns:seferBildirimRaporu" name="parameters"></part>
</message>
<message name="seferBildirimRaporuResponse">
<part element="tns:seferBildirimRaporuResponse" name="parameters"></part>
</message>
<message name="seferBildirimOzeti">
<part element="tns:seferBildirimOzeti" name="parameters"></part>
</message>
<message name="seferBildirimOzetiResponse">
<part element="tns:seferBildirimOzetiResponse" name="parameters"></part>
</message>
<message name="servisTest">
<part element="tns:servisTest" name="parameters"></part>
</message>
<message name="servisTestResponse">
<part element="tns:servisTestResponse" name="parameters"></part>
</message>
<message name="ipSil">
<part element="tns:ipSil" name="parameters"></part>
</message>
<message name="ipSilResponse">
<part element="tns:ipSilResponse" name="parameters"></part>
</message>
<message name="yetkiBelgesiKontrol">
<part element="tns:yetkiBelgesiKontrol" name="parameters"></part>
</message>
<message name="yetkiBelgesiKontrolResponse">
<part element="tns:yetkiBelgesiKontrolResponse" name="parameters"></part>
</message>
<portType name="UdhbUetdsEsyaWsService">
<operation name="meslekiYeterlilikSorgula">
<input message="tns:meslekiYeterlilikSorgula" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/meslekiYeterlilikSorgula"></input>
<output message="tns:meslekiYeterlilikSorgulaResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/meslekiYeterlilikSorgulaResponse"></output>
</operation>
<operation name="aracMuayeneSorgula">
<input message="tns:aracMuayeneSorgula" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/aracMuayeneSorgula"></input>
<output message="tns:aracMuayeneSorgulaResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/aracMuayeneSorgulaResponse"></output>
</operation>
<operation name="ipTanimla">
<input message="tns:ipTanimla" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/ipTanimla"></input>
<output message="tns:ipTanimlaResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/ipTanimlaResponse"></output>
</operation>
<operation name="ipListele">
<input message="tns:ipListele" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/ipListele"></input>
<output message="tns:ipListeleResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/ipListeleResponse"></output>
</operation>
<operation name="yeniYukKaydiBildir">
<input message="tns:yeniYukKaydiBildir" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/yeniYukKaydiBildir"></input>
<output message="tns:yeniYukKaydiBildirResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/yeniYukKaydiBildirResponse"></output>
</operation>
<operation name="paramTehlikeliMaddeTasimaSekli">
<input message="tns:paramTehlikeliMaddeTasimaSekli" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/paramTehlikeliMaddeTasimaSekli"></input>
<output message="tns:paramTehlikeliMaddeTasimaSekliResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/paramTehlikeliMaddeTasimaSekliResponse"></output>
</operation>
<operation name="paramYukTuru">
<input message="tns:paramYukTuru" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/paramYukTuru"></input>
<output message="tns:paramYukTuruResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/paramYukTuruResponse"></output>
</operation>
<operation name="paramYukBirimi">
<input message="tns:paramYukBirimi" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/paramYukBirimi"></input>
<output message="tns:paramYukBirimiResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/paramYukBirimiResponse"></output>
</operation>
<operation name="iptalTurleri">
<input message="tns:iptalTurleri" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/iptalTurleri"></input>
<output message="tns:iptalTurleriResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/iptalTurleriResponse"></output>
</operation>
<operation name="yukBildirimiListesi">
<input message="tns:yukBildirimiListesi" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimiListesi"></input>
<output message="tns:yukBildirimiListesiResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/yukBildirimiListesiResponse"></output>
</operation>
<operation name="yeniYukKaydiBildirV2">
<input message="tns:yeniYukKaydiBildirV2" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/yeniYukKaydiBildirV2"></input>
<output message="tns:yeniYukKaydiBildirV2Response" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/yeniYukKaydiBildirV2Response"></output>
</operation>
<operation name="yukBildirimiGuncelle">
<input message="tns:yukBildirimiGuncelle" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimiGuncelle"></input>
<output message="tns:yukBildirimiGuncelleResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/yukBildirimiGuncelleResponse"></output>
</operation>
<operation name="yukBildirimiGuncelleV2">
<input message="tns:yukBildirimiGuncelleV2" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimiGuncelleV2"></input>
<output message="tns:yukBildirimiGuncelleV2Response" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/yukBildirimiGuncelleV2Response"></output>
</operation>
<operation name="seferGuncelle">
<input message="tns:seferGuncelle" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/seferGuncelle"></input>
<output message="tns:seferGuncelleResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/seferGuncelleResponse"></output>
</operation>
<operation name="seferIptalEt">
<input message="tns:seferIptalEt" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/seferIptalEt"></input>
<output message="tns:seferIptalEtResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/seferIptalEtResponse"></output>
</operation>
<operation name="seferAktifEt">
<input message="tns:seferAktifEt" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/seferAktifEt"></input>
<output message="tns:seferAktifEtResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/seferAktifEtResponse"></output>
</operation>
<operation name="sefereYukEkle">
<input message="tns:sefereYukEkle" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/sefereYukEkle"></input>
<output message="tns:sefereYukEkleResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/sefereYukEkleResponse"></output>
</operation>
<operation name="yukBildirimiIptalEt">
<input message="tns:yukBildirimiIptalEt" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimiIptalEt"></input>
<output message="tns:yukBildirimiIptalEtResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/yukBildirimiIptalEtResponse"></output>
</operation>
<operation name="yukIptalEtV2">
<input message="tns:yukIptalEtV2" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukIptalEtV2"></input>
<output message="tns:yukIptalEtV2Response" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/yukIptalEtV2Response"></output>
</operation>
<operation name="yukBildirimiDetayi">
<input message="tns:yukBildirimiDetayi" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimiDetayi"></input>
<output message="tns:yukBildirimiDetayiResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/yukBildirimiDetayiResponse"></output>
</operation>
<operation name="yukBildirimiDetayiV2">
<input message="tns:yukBildirimiDetayiV2" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimiDetayiV2"></input>
<output message="tns:yukBildirimiDetayiV2Response" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/yukBildirimiDetayiV2Response"></output>
</operation>
<operation name="yukBildirimRaporu">
<input message="tns:yukBildirimRaporu" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimRaporu"></input>
<output message="tns:yukBildirimRaporuResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/yukBildirimRaporuResponse"></output>
</operation>
<operation name="seferBildirimRaporu">
<input message="tns:seferBildirimRaporu" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/seferBildirimRaporu"></input>
<output message="tns:seferBildirimRaporuResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/seferBildirimRaporuResponse"></output>
</operation>
<operation name="seferBildirimOzeti">
<input message="tns:seferBildirimOzeti" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/seferBildirimOzeti"></input>
<output message="tns:seferBildirimOzetiResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/seferBildirimOzetiResponse"></output>
</operation>
<operation name="servisTest">
<input message="tns:servisTest" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/servisTestRequest"></input>
<output message="tns:servisTestResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/servisTestResponse"></output>
</operation>
<operation name="ipSil">
<input message="tns:ipSil" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/ipSil"></input>
<output message="tns:ipSilResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/ipSilResponse"></output>
</operation>
<operation name="yetkiBelgesiKontrol">
<input message="tns:yetkiBelgesiKontrol" wsam:Action="http://uetds.unetws.udhb.gov.tr/uetdsesya/yetkiBelgesiKontrol"></input>
<output message="tns:yetkiBelgesiKontrolResponse" wsam:Action="http://uetds.unetws.udhb.gov.tr/UdhbUetdsEsyaWsService/yetkiBelgesiKontrolResponse"></output>
</operation>
</portType>
<binding name="UdhbUetdsEsyaWsServicePortBinding" type="tns:UdhbUetdsEsyaWsService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
<operation name="meslekiYeterlilikSorgula">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/meslekiYeterlilikSorgula"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="aracMuayeneSorgula">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/aracMuayeneSorgula"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ipTanimla">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/ipTanimla"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ipListele">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/ipListele"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="yeniYukKaydiBildir">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/yeniYukKaydiBildir"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="paramTehlikeliMaddeTasimaSekli">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/paramTehlikeliMaddeTasimaSekli"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="paramYukTuru">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/paramYukTuru"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="paramYukBirimi">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/paramYukBirimi"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="iptalTurleri">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/iptalTurleri"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="yukBildirimiListesi">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimiListesi"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="yeniYukKaydiBildirV2">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/yeniYukKaydiBildirV2"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="yukBildirimiGuncelle">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimiGuncelle"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="yukBildirimiGuncelleV2">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimiGuncelleV2"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seferGuncelle">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/seferGuncelle"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seferIptalEt">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/seferIptalEt"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seferAktifEt">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/seferAktifEt"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sefereYukEkle">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/sefereYukEkle"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="yukBildirimiIptalEt">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimiIptalEt"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="yukIptalEtV2">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukIptalEtV2"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="yukBildirimiDetayi">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimiDetayi"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="yukBildirimiDetayiV2">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimiDetayiV2"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="yukBildirimRaporu">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/yukBildirimRaporu"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seferBildirimRaporu">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/seferBildirimRaporu"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seferBildirimOzeti">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/seferBildirimOzeti"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="servisTest">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ipSil">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/ipSil"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="yetkiBelgesiKontrol">
<soap:operation soapAction="http://uetds.unetws.udhb.gov.tr/uetdsesya/yetkiBelgesiKontrol"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="UdhbUetdsEsyaWsService">
<port binding="tns:UdhbUetdsEsyaWsServicePortBinding" name="UdhbUetdsEsyaWsServicePort">
<soap:address location="https://servis.turkiye.gov.tr/services/g2g/kdgm/test/uetdsesya"></soap:address>
</port>
</service>
</definitions>